.socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px;
}
.socialContainer > p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.socials {
    display: flex;
}
.socialItem {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
}
.socialItem:hover {
    border: 1px solid #191970;
    background-color: #D9E4EC;
    border-radius: 5px;
}
.socialItem > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
}