html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #E9EAEC; */
}

body {
  display: flex;
}

body > div {
  flex: 1;
}

/* body > div > div {
  height: 100%;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
