.search {
    width: 85%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px #919090;
    border-radius: 5px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchResult {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 5px 10px;
    cursor: pointer;
}

.searchResult:hover {
    background-color: #efefef;
}